# <center> Costa Rican Household Poverty Level Prediction </center>

---

# Content
- [Problem Statement](#Problem-Statement)
- [Main Objective](#Main-Objective)
- [Data Exploratory](#Data-Exploratory)
- [Data Munging](#Data-Munging)

# Problem Statement

---

Many social programs have a hard time making sure the right people are given enough aid. It’s especially tricky when a program focuses on the poorest segment of the population. The world’s poorest typically can’t provide the necessary income and expense records to prove that they qualify.

In Latin America, one popular method uses an algorithm to verify income qualification. It’s called the Proxy Means Test (or PMT). With PMT, agencies use a model that considers a family’s observable household attributes like the material of their walls and ceiling, or the assets found in the home to classify them and predict their level of need.

While this is an improvement, accuracy remains a problem as the region’s population grows and poverty declines.

# Main Objective

---

We strive to improve the accuracy of the predicting households' level of need by proposing a using a new model - Linear Regression. With the given variables in the dataset, we set out to predict poverty on a `household level`.

# Dataset Information

---

Core Data fields

    Id - a unique identifier for each row.
    Target - the target is an ordinal variable indicating groups of income levels. 
        1 = extreme poverty 
        2 = moderate poverty 
        3 = vulnerable households 
        4 = non vulnerable households
    idhogar - this is a unique identifier for each household. This can be used to create household-wide features, etc. 

All rows in a given household will have a matching value for this identifier.
parentesco1 - indicates if this person is the head of the household.
This data contains 142 total columns.

All other data fields [can be found here](https://www.kaggle.com/c/costa-rican-household-poverty-prediction/data).

# Data Munging

---

Importing libraries and set graph style

In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Set a few plotting defaults
%matplotlib inline
plt.style.use('seaborn')
plt.rcParams['font.size'] = 18
plt.rcParams['patch.edgecolor'] = 'k'

#### Reading training dataset

In [2]:
train = pd.read_csv("train.csv")

We first find out the data types for each column

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9557 entries, 0 to 9556
Columns: 143 entries, Id to Target
dtypes: float64(8), int64(130), object(5)
memory usage: 10.4+ MB

This tells us there are 130 integer columns, 8 float (numeric) columns, and 5 object columns. The object columns might pose an issue because they cannot be fed directly into a machine learning model.

Lets take a look at the 5  columns that are `object` datatypes

In [4]:
train.select_dtypes('object').head()

             Id    idhogar dependency edjefe edjefa
0  ID_279628684  21eb7fcc1         no     10     no
1  ID_f29eb3ddd  0e5d7a658          8     12     no
2  ID_68de51c94  2c7317ea8          8     no     11
3  ID_d671db89c  2b58d945f        yes     11     no
4  ID_d56d6f5f5  2b58d945f        yes     11     no

We will not be including the individual id and household id in our machine learning model, so lets investigate the other 3 columns that we may put into the machine learning model.

 According to the documentation for these columns:

* `dependency`: Dependency rate, calculated = (number of members of the household younger than 19 or older than 64)/(number of member of household between 19 and 64)
* `edjefe`: years of education of male head of household, based on the interaction of escolari (years of education), head of household and gender, yes=1 and no=0
* `edjefa`: years of education of female head of household, based on the interaction of escolari (years of education), head of household and gender, yes=1 and no=0

For now, lets dive deeper into the 3 columns to see what values they contain.
For `dependency` :

In [5]:
train.select_dtypes('object')['dependency'].value_counts()

yes          2192
no           1747
.5           1497
2             730
1.5           713
.33333334     598
.66666669     487
8             378
.25           260
3             236
4             100
.75            98
.2             90
1.3333334      84
.40000001      84
2.5            77
5              24
3.5            18
.80000001      18
1.25           18
2.25           13
.71428573      12
1.2            11
.22222222      11
1.75           11
.83333331      11
.2857143        9
1.6666666       8
.60000002       8
6               7
.16666667       7
Name: dependency, dtype: int64

In [6]:
train.select_dtypes('object')['edjefe'].value_counts()

no     3762
6      1845
11      751
9       486
3       307
15      285
8       257
7       234
5       222
14      208
17      202
2       194
4       137
16      134
yes     123
12      113
10      111
13      103
21       43
18       19
19       14
20        7
Name: edjefe, dtype: int64

In [7]:
train.select_dtypes('object')['edjefa'].value_counts()

no     6230
6       947
11      399
9       237
8       217
15      188
7       179
5       176
3       152
4       136
14      120
16      113
10       96
2        84
17       76
12       72
yes      69
13       52
21        5
19        4
18        3
20        2
Name: edjefa, dtype: int64

As we scan through, realise that all values are float or integer except for string of `yes` and `no`

#### Since they mentioned that `yes` = 1, `no` = 0 - we will replace them with 1 and 0 respectively

In [8]:
mapping = {"yes": 1, "no": 0}

train['dependency'] = train['dependency'].replace(mapping).astype(np.float64)
train['edjefa'] = train['edjefa'].replace(mapping).astype(np.int64)
train['edjefe'] = train['edjefe'].replace(mapping).astype(np.int64)

train[['dependency', 'edjefa', 'edjefe']].describe()

        dependency       edjefa       edjefe
count  9557.000000  9557.000000  9557.000000
mean      1.149550     2.896830     5.096788
std       1.605993     4.612056     5.246513
min       0.000000     0.000000     0.000000
25%       0.333333     0.000000     0.000000
50%       0.666667     0.000000     6.000000
75%       1.333333     6.000000     9.000000
max       8.000000    21.000000    21.000000

## Addressing Wrong Labels

As with any realistic dataset, the Costa Rican Poverty data has some issues. Typically, 80% of a data science project will be spent cleaning data and fixing anomalies/errors. These can be either human entry errors, measurement errors, or sometimes just extreme values that are correct but stand out. For this problem, some of the labels are not correct because _individuals in the same household have a different poverty level_. We're not told why this may be the case, but we are told to use the head of household as the true label. 

That information makes our job much easier, but in a real-world problem, we would have to figure out the reason _Why_ the labels are wrong and how to address the issue on our own. This section fixes the issue with the labels although it is not strictly necessary: I kept it in the notebook just to show how we may deal with this issue.

### Identify Errors

First we need to find the errors before we can correct them. To find the households with different labels for  family members, we can group the data by the household and then check if there is only one unique value of the `Target`.

In [12]:
# Groupby the household and figure out the number of unique values
all_equal = train.groupby('idhogar')['Target'].apply(lambda x: x.nunique() == 1)

# Households where targets are not all equal
not_equal = all_equal[all_equal != True]
print('There are {} households where the family members do not all have the same target.'.format(len(not_equal)))

There are 85 households where the family members do not all have the same target.

For this problem, according to the organizers, __if a household does not have a head, then there is no true label. Therefore, we actually won't use any of the households without a head for training__. Hence we:
1. Remove all household instances with no head
2. Correct the labels for households with different target values

In [24]:
households_leader = train.groupby('idhogar')['parentesco1'].sum()

# Remove households with no head
train = train.loc[train['idhogar'].isin(households_leader[households_leader != 0].index), :]

# Iterate through each household
for household in not_equal.index:
    # Find the correct label (for the head of household)
    true_target = int(train[(train['idhogar'] == household) & (train['parentesco1'] == 1.0)]['Target'])
    # Set the correct label for all members in the household
    train.loc[train['idhogar'] == household, 'Target'] = true_target

## Exploring Label Distribution

Next, we can get an idea of how imbalanced the problem is by looking at the distribution of labels. There are four possible integer levels, indicating four different levels of poverty. To look at the correct labels, we'll subset only to the columns where `parentesco1 == 1` because this is the head of household, the correct label for each household.

The bar plot below shows the distribution of training labels (since there are no testing labels).

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,100,1849,1,100,0,1.000000,0.000000,100.000000,1849,4
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,144,4489,1,144,0,1.000000,64.000000,144.000000,4489,4
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,121,8464,1,0,0,0.250000,64.000000,121.000000,8464,4
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,81,289,16,121,4,1.777778,1.000000,121.000000,289,4
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,121,1369,16,121,4,1.777778,1.000000,121.000000,1369,4
5,ID_ec05b1a7b,180000.0,0,5,0,1,1,1,1.0,0,...,121,1444,16,121,4,1.777778,1.000000,121.000000,1444,4
6,ID_e9e0c1100,180000.0,0,5,0,1,1,1,1.0,0,...,4,64,16,121,4,1.777778,1.000000,121.000000,64,4
7,ID_3e04e571e,130000.0,1,2,0,1,1,0,NaN,0,...,0,49,16,81,4,16.000000,1.000000,100.000000,49,4
8,ID_1284f8aad,130000.0,1,2,0,1,1,0,NaN,0,...,81,900,16,81,4,16.000000,1.000000,100.000000,900,4
9,ID_51f52fdd2,130000.0,1,2,0,1,1,0,NaN,0,...,121,784,16,81,4,16.000000,1.000000,100.000000,784,4
10,ID_db44f5c59,130000.0,1,2,0,1,1,0,NaN,0,...,9,121,16,81,4,16.000000,1.000000,100.000000,121,4
11,ID_de822510c,100000.0,0,3,0,1,1,0,NaN,0,...,144,324,4,0,1,1.000000,1.000000,529.000000,324,4
12,ID_d94071d7c,100000.0,0,3,0,1,1,0,NaN,0,...,121,1156,4,0,1,1.000000,1.000000,529.000000,1156,4
13,ID_064b57869,NaN,0,4,0,1,1,1,1.0,0,...,16,6241,4,0,0,1.000000,1.000000,90.250000,6241,4
14,ID_5c837d8a4,NaN,0,4,0,1,1,1,1.0,0,...,225,1521,4,0,0,1.000000,1.000000,90.250000,1521,4
15,ID_0a39e419e,90000.0,1,2,0,1,1,0,NaN,0,...,121,361,16,0,4,16.000000,9.000000,289.000000,361,4
16,ID_4ff51f90c,90000.0,1,2,0,1,1,0,NaN,0,...,4,4900,16,0,4,16.000000,9.000000,289.000000,4900,4
17,ID_336c51386,90000.0,1,2,0,1,1,0,NaN,0,...,121,361,16,0,4,16.000000,9.000000,289.000000,361,4
18,ID_c51938edf,90000.0,1,2,0,1,1,0,NaN,0,...,100,2500,16,0,4,16.000000,9.000000,289.000000,2500,4
19,ID_35b66f7c6,215000.0,0,4,0,1,1,0,NaN,0,...,144,484,4,225,0,1.000000,0.000000,182.250000,484,4
20,ID_74a2bc523,215000.0,0,4,0,1,1,0,NaN,0,...,225,676,4,225,0,1.000000,0.000000,182.250000,676,4
21,ID_15d393ce7,150000.0,0,3,0,1,1,0,NaN,0,...,16,4761,4,16,0,4.000000,64.000000,100.000000,4761,4
22,ID_a0bff0ba7,150000.0,0,3,0,1,1,0,NaN,0,...,256,4356,4,16,0,4.000000,64.000000,100.000000,4356,4
23,ID_848b0fdf1,100000.0,1,1,1,0,1,0,NaN,0,...,36,1681,9,36,0,9.000000,0.000000,106.777770,1681,4
24,ID_298d857e5,100000.0,1,1,1,0,1,0,NaN,0,...,169,400,9,36,0,9.000000,0.000000,106.777770,400,4
25,ID_1d5bf8ddf,100000.0,1,1,1,0,1,0,NaN,0,...,144,1600,9,36,0,9.000000,0.000000,106.777770,1600,4
26,ID_e5cdba865,NaN,0,5,0,1,1,0,NaN,0,...,225,1936,1,225,0,0.250000,0.000000,225.000000,1936,4
27,ID_e18530139,120000.0,0,4,0,1,1,1,1.0,0,...,36,4761,9,36,0,2.250000,0.250000,44.444443,4761,4
28,ID_cba035c44,120000.0,0,4,0,1,1,1,1.0,0,...,36,3844,9,36,0,2.250000,0.250000,44.444443,3844,4
29,ID_b6c1c7e65,120000.0,0,4,0,1,1,1,1.0,0,...,64,1089,9,36,0,2.250000,0.250000,44.444443,1089,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527,ID_92b30d94b,NaN,0,5,0,1,1,0,NaN,2,...,0,1,16,64,4,4.000000,1.000000,90.250000,1,4
9528,ID_6309f1595,45000.0,0,3,0,1,0,0,NaN,0,...,256,961,1,0,0,1.000000,0.000000,256.000000,961,4
9529,ID_f8b8c7703,NaN,0,1,0,1,1,0,NaN,0,...,36,2116,4,36,0,4.000000,0.000000,36.000000,2116,4
9530,ID_7226bda20,NaN,0,1,0,1,1,0,NaN,0,...,36,2704,4,36,0,4.000000,0.000000,36.000000,2704,4
9531,ID_10da2c3cb,70000.0,0,4,0,1,1,0,NaN,0,...,25,2916,9,25,1,2.250000,0.250000,30.250000,2916,4
9532,ID_503cfc817,70000.0,0,4,0,1,1,0,NaN,0,...,36,2025,9,25,1,2.250000,0.250000,30.250000,2025,4
9533,ID_5384717d3,70000.0,0,4,0,1,1,0,NaN,0,...,100,289,9,25,1,2.250000,0.250000,30.250000,289,4
9534,ID_8d3963fff,NaN,0,7,0,1,1,0,NaN,0,...,16,5476,1,16,0,0.111111,64.000000,16.000000,5476,3
9535,ID_18b0a845b,NaN,0,4,0,1,0,0,NaN,1,...,25,676,25,0,9,6.250000,2.250000,20.250000,676,1
9536,ID_d20bd7576,NaN,0,4,0,1,0,0,NaN,1,...,0,64,25,0,9,6.250000,2.250000,20.250000,64,2
9537,ID_cca751e53,NaN,0,4,0,1,0,0,NaN,1,...,16,841,25,0,9,6.250000,2.250000,20.250000,841,2
9538,ID_bfbb06d62,NaN,0,4,0,1,0,0,NaN,1,...,0,36,25,0,9,6.250000,2.250000,20.250000,36,2
9539,ID_e20c78904,NaN,0,4,0,1,0,0,NaN,1,...,0,36,25,0,9,6.250000,2.250000,20.250000,36,2
9540,ID_e01b00c7e,NaN,0,3,0,0,0,0,NaN,2,...,0,4,25,4,9,6.250000,2.250000,16.000000,4,2
9541,ID_a31274054,NaN,0,3,0,0,0,0,NaN,2,...,4,1600,25,4,9,6.250000,2.250000,16.000000,1600,2
9542,ID_fc386a944,NaN,0,3,0,0,0,0,NaN,2,...,9,100,25,4,9,6.250000,2.250000,16.000000,100,2
9543,ID_2f8268634,NaN,0,3,0,0,0,0,NaN,2,...,36,169,25,4,9,6.250000,2.250000,16.000000,169,2
9544,ID_4c180d79f,NaN,0,3,0,0,0,0,NaN,2,...,36,1089,25,4,9,6.250000,2.250000,16.000000,1089,2
9545,ID_32a00a8bf,46500.0,0,5,0,1,1,0,NaN,1,...,4,2025,25,4,4,5.444444,0.444444,100.000000,2025,4
9546,ID_1dfb12fcf,46500.0,0,5,0,1,1,0,NaN,1,...,36,2116,25,4,4,5.444444,0.444444,100.000000,2116,4
9547,ID_198be48d1,46500.0,0,5,0,1,1,0,NaN,1,...,121,529,25,4,4,5.444444,0.444444,100.000000,529,4
9548,ID_9df63c33e,46500.0,0,5,0,1,1,0,NaN,1,...,121,324,25,4,4,5.444444,0.444444,100.000000,324,4
9549,ID_aacac04a2,46500.0,0,5,0,1,1,0,NaN,1,...,0,4,25,4,4,5.444444,0.444444,100.000000,4,4
9550,ID_90a399a51,NaN,0,3,0,1,1,0,NaN,0,...,36,3721,4,0,0,4.000000,1.000000,9.000000,3721,2
9551,ID_79d39dddc,NaN,0,3,0,1,1,0,NaN,0,...,0,4489,4,0,0,4.000000,1.000000,9.000000,4489,2
9552,ID_d45ae367d,80000.0,0,6,0,1,1,0,NaN,0,...,81,2116,25,81,1,1.562500,0.062500,68.062500,2116,2
9553,ID_c94744e07,80000.0,0,6,0,1,1,0,NaN,0,...,0,4,25,81,1,1.562500,0.062500,68.062500,4,2
9554,ID_85fc658f8,80000.0,0,6,0,1,1,0,NaN,0,...,25,2500,25,81,1,1.562500,0.062500,68.062500,2500,2
9555,ID_ced540c61,80000.0,0,6,0,1,1,0,NaN,0,...,121,676,25,81,1,1.562500,0.062500,68.062500,676,2
9556,ID_a38c64491,80000.0,0,6,0,1,1,0,NaN,0,...,64,441,25,81,1,1.562500,0.062500,68.062500,441,2

In [11]:
heads['idhogar']

NameError: name 'heads' is not defined

In [ ]:
# Heads of household
heads = train.loc[train['parentesco1'] == 1].copy()

# Labels for training
train_labels = heads[['Target', 'idhogar']]

# Value counts of target
label_counts = train_labels['Target'].value_counts().sort_index()

# Bar plot of occurrences of each label
label_counts.plot.bar(figsize = (8, 6), 
                      color = colors.values(),
                      edgecolor = 'k', linewidth = 2)

# Formatting
plt.xlabel('Poverty Level'); plt.ylabel('Count'); 
plt.xticks([x - 1 for x in poverty_mapping.keys()], 
           list(poverty_mapping.values()), rotation = 60)
plt.title('Poverty Level Breakdown');

label_counts

In [ ]:
len(train)

Since they mentioned that we should only choose the `household head`, we remove rows(individuals) that are not the `household head`

Household_leaders:
`parentesco1, =1 if household head`